<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kq.elasticsearch.mapper.InventoryMapper">

  <select id="getInventoryList" resultType="com.kq.elasticsearch.entity.Inventory">
      select i.inventoryid id,i.chmc name,i.chxl categoryId,i.createtime createTime,i.createuser createUser,i.chbm code,
(select ic.flmc from s_inventory_category ic where ic.inventorycategoryid=i.chxl and rownum=1) categoryName,
i.chtp photoId,i.chlx type
from s_inventory i
  </select>


</mapper>